@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu @ref="_navMenu" />
    </div>

    <MudToolBar Class="title">
        
    </MudToolBar>

    <div class="main" style="margin-top:12px; padding-bottom: 32px;">

        <CascadingValue Value="this">
            @Body
        </CascadingValue>

    </div>
</div>

@code{
    protected override void OnInitialized()
    {
      
    }

    private NavMenu _navMenu;

    public void ToggleMenu()
    {

    }
}
