.page {
    display: grid;
    background-color: #F6F6F8;
    grid-template-areas: "sidebar title" "sidebar main";
    grid-template-columns: 200px minmax(10px, 1fr);
    grid-template-rows: 50px minmax(10px, 1fr);
}


.sidebar {
    grid-area: sidebar;
    /* background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-image: url(dark-blue-abstract-blur-background-vector.jpg);
    background-attachment: fixed;
    /*background-size: cover;*/
}


.sidebar {
    width: 200px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.topbar {
    grid-area: topbar;
}

.title {
    grid-area: title;
}

    .title > h3 {
        color: #20aee3 !important;
        line-height: normal;
        font-size: 40px;
        font-weight: bold;
        font-family: auto;
    }

.main {
    grid-area: main;
}
