@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu @ref="_navMenu" />
    </div>

    <div class="main">

        <CascadingValue Value="this">
            @Body
        </CascadingValue>

    </div>
</div>

@code{
    protected override void OnInitialized()
    {
        
    }

    private NavMenu _navMenu;

    public void ToggleMenu()
    {

    }
}
